body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #ecf6ff;
}

.task__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
}

.task__item:hover {
    background-color: rgba(122, 120, 120, 0.11);
}

.task__item_checked {
    text-decoration: line-through;
}
